@using System.Reflection.Emit
@model string
@if (! string.IsNullOrEmpty(Model))
{
    String cls = null;

    if (Model == "帳????" || Model.Contains("??存?,驗???"))
    {
        cls = "label label-info";
    }
    else if (Model == "帳?尚未??" || Model.Contains("管??身??證失??))
    {
        cls = "label label-danger";
    }
    else if (Model == "以維護帳?登?? || Model.Contains("管??身??證???))
    {
        cls = "label label-success";
    }
    else
    {
        cls = "label label-warning";
    }
        

    <span class="@cls">@Model</span>
}


 
