@using System.Reflection.Emit
@model string
@if (!string.IsNullOrEmpty(Model))
{
    String cls = null;

    if (Model == "??" )
    {
        cls = "label label-info";
    }
    else if (Model == "?除" )
    {
        cls = "label label-danger";
    }
    else if (Model == "修改" )
    {
        cls = "label label-success";
    }
    else
    {
        cls = "label label-warning";
    }


    <span class="@cls">@Model</span>
}



 
