@model int?

<div class="form-group">
    @Html.DropDownList("custom_info_id",
                        (SelectList)ViewBag.custom_info,
                         "請選擇客戶和系統",
                                  new { @class = "form-control", name = "custom_info_id" })
</div>
 
